<%- include('../partials/header.ejs') %>
<div class="container py-5 pb-5">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Waktu</h1>
            <a class="text-decoration-none" href="/time/create">
                <button class="btn btn-outline-primary">Buat Waktu</button>
            </a>
        </div>
        <% if (data.length > 0) { %> <% data.forEach((time,index) => { %>
        <div class="col-md-3 position-relative mt-3">
            <div class="card">
                <div class="card-body">
                    <span class="mb-3 fw-bold d-block"><%= index + 1 %>.</span>
                    <div
                        class="d-flex align-items-center gap-2"
                        style="position: absolute; top: -18px; right: 0px"
                    >
                        <a
                            class="text-decoration-none"
                            href="/time/edit/<%= time.time_id %>"
                        >
                            <div
                                class="bg-warning rounded-circle p-2"
                                style="left: 100%; cursor: pointer"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="#fff"
                                    viewBox="0 0 256 256"
                                >
                                    <path
                                        d="M227.32,73.37,182.63,28.69a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H216a8,8,0,0,0,0-16H115.32l112-112A16,16,0,0,0,227.32,73.37ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.69,147.32,64l24-24L216,84.69Z"
                                    ></path>
                                </svg>
                            </div>
                        </a>

                        <button
                            style="
                                background-color: transparent;
                                border: transparent;
                            "
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#timeDelete<%= time.time_id %>"
                        >
                            <div
                                class="bg-danger rounded-circle p-2"
                                style="left: 100%; cursor: pointer"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="#fff"
                                    viewBox="0 0 256 256"
                                >
                                    <path
                                        d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"
                                    ></path>
                                </svg>
                            </div>
                        </button>

                        <div
                            class="modal fade"
                            id="timeDelete<%= time.time_id %>"
                            data-bs-backdrop="static"
                            data-bs-keyboard="false"
                            tabindex="-1"
                            aria-labelledby="staticBackdropLabel"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3
                                            class="modal-title fs-5 fw-light"
                                            id="staticBackdropLabel"
                                        >
                                            Yakin ingin menghapus Waktu
                                            <span class="fw-bold">
                                                <%= time.timeAndDate %> </span
                                            >?
                                        </h3>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-footer">
                                        <form
                                            action="/time/delete/<%= time.time_id %>"
                                            method="post"
                                        >
                                            <button
                                                type="submit"
                                                class="btn btn-outline-danger"
                                            >
                                                Hapus
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6>
                        <small> <%= time.timeAndDate %> </small>
                    </h6>
                </div>
            </div>
        </div>
        <% }) %> <% } else {%>
        <p>Data Kosong...</p>
        <% } %>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
